---
layout: base.njk
title: "Impressum"
permalink: /impressum/
pageLang: "de"
bodyClass: legal
---

<article class="legal" lang="de">

<h1>Impressum</h1>
<p class="meta">Pflichtangaben nach &sect; 5 TMG.</p>

<h2>Anbieter</h2>
<p>J&uuml;rgen Gr&ouml;nner<br>
Randebrockstr. 7a<br>
46236 Bottrop<br>
Deutschland</p>

<h2>Kontakt</h2>
<p>E-Mail: <a href="mailto:info@flatsixdynamics.com">info@flatsixdynamics.com</a></p>

<h2>Verantwortlich f&uuml;r den Inhalt nach &sect; 18 Abs. 2 MStV</h2>
<p>J&uuml;rgen Gr&ouml;nner<br>
Anschrift wie oben.</p>

<h2>Online-Streitbeilegung</h2>
<p>Die Europ&auml;ische Kommission stellt eine Plattform zur Online-Streitbeilegung (OS) bereit: <a href="https://ec.europa.eu/consumers/odr/">ec.europa.eu/consumers/odr</a>.</p>
<p>Wir sind nicht bereit oder verpflichtet, an Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle teilzunehmen.</p>

</article>
